<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>socket.io</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="components/jquery/dist/jquery.min.js"></script>
		<script src="components/smoothie/smoothie.js"></script>
    </head>
    <body>

	<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<canvas id="mycanvas" width="1024" height="748"></canvas>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

	<!-- APP CODE -->
	<script src="js/main.js"></script>
    </body>
</html>